body {
    margin: 0px;
}


    {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

h1 {
    font-size: 40px;
    background-color: burlywood;
    width: 60%;
    height: 10%;
}


h2 {
    font-size: 30px;
    background-color: burlywood;
    width: 60%;
    height: 10%;
}

.green {
    color: rgb(15, 108, 15);
}

h3 {
    font-size: 20px;
    background-color: blue;
    width: 30%;
    height: 6%;
}

div {
    font-size: large;
    width: 50%;
}

section {
    display: flex;
}

.half-1 {
    width: 50%;
    padding: 5%;

}

.half-2 img {
    width: 50%;
    padding: 10%;
    height: 50%;
    padding-left: 0%
}

.link {
    background-color: black;
    color: orange;
    font-size: 25px;
    padding: 8px 25px;
    border-radius: 50%;
}

.mid-1 img {
    width: 70%;
    height: 55%;
    padding-left: 10%;
    padding-top: 5%;
}

.mid-2 {
    width: 90%;
    height: 30%;
}

.mid-3 {
    font-size: large;
    width: 100%;
}


.best-web {
    background-color: black;
    color: aliceblue;
    font-size: large;
    height: 40px;
    width: 30px;
}

.quality-1 {
    background-color: blue;
    width: 20%;

}

.quality-2 {
    background-color: blue;
    width: 27%;
}

.quality-3 {
    background-color: blue;
    width: 25%;
}

.se-2 {
    display: flex;
    margin-bottom: 90px;
}

.last-op {
    font-size: 55px;
    margin-bottom: 30%;
    background-color: black;
    color: white;
    height: 30%;


}




.last-pm {
    font-size: 50px;
    color: rgb(36, 71, 2);
    background-color: ;

}

.last-cm {
    font-size: 50px;
    color: rgb(7, 7, 90);
}

.flexible-continer {
    display: flex;
    margin-bottom: 150%;
    font-size: large;

    .last-oc {
        box-shadow: 15px 10px 30px green;
        width: 50%;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 8%;
        padding-right: 10%;
        border-radius: 10px;
        border: 10px solid
    }

    .last-ox {
        border: 10px solid;

        padding-left: 13%;
        padding-right: 13%;
        margin-left: 10%;
        margin-right: 10%;
        width: 70%;
        border-radius: 20px;
        box-shadow: 20px 20px 50px blue
    }